::selection {
  background-color: violet;
  color: aliceblue;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.add-post {
  background-color: cornsilk;
}

.navbar{
  background-color: antiquewhite;
}

.navbar .nav-menu{
  font-size: 1.2rem;
  transition: all .4s linear;
  padding: 5px;
}

.navbar .nav-menu:hover{
  font-size: 1rem;
  color: aqua;
  background-color: darkslateblue;
  border-radius: 20px;
}

input[type='text'] {
  width: 70%;
}

.content {
  background-color: bisque;
}

@import '~antd/dist/antd.css';

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}

.ant-image {
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid goldenrod;
  box-shadow: 2px 3px 8px rgb(226, 219, 219);
}

/* Count component */
.buttonCount {
  display: flex;
  justify-content: space-evenly;
}

.buttonCount input {
  padding: 0 10px;
}

.buttonCount button {
  padding: 5px 10px;
  background-color: aquamarine;
  border-radius: 10px;
}

/* Post */
.post {
  /* style */
}

.post ul {
  list-style: none;
  border: 1px solid black;
  background-color: antiquewhite;
}

.addPost {
  display: flex;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media (min-width:768px){
  .todo-list{
    width: 500px !important;
  }
}
